@page "/"

<PageTitle>Index</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  
    <title>Obraz</title>
</head>
<body class="body">
  <header>
    <nav>
        <ul>
            <li><a href="#home">Strona główna</a></li>
            <li><a href="#contact">Kontakt</a></li>
        </ul>
    </nav>
</header>
    <div class="container">

      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20170402_184451.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20171017_123245.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20171017_123335.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20180130_215223.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20180207_224337.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20180518_095636.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20180522_225127.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box big-box">
            <div class="obraz"><img src="/bootstrap/img/20180621_183021.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
      <div class="box width-box">
            <div class="obraz"><img src="/bootstrap/img/20180729_232640.jpg" alt=""></div>
        <div class="podpis">Przykładowa nazwa</div>
      </div>
    </div>
    <footer>
      <div class="footer-content-left">
          <p>©2024 TwojaNazwaStrony.com</p>
          <p>Kontakt: jakisj@email.co</p>
      </div>
      <div class="footer-content-right">
          <p>Autor strony Kacper Juśkiewicz</p>
          <p>kontakt: koc181@wp.pl</p>
      </div>
  </footer>
</body>
</html>
